*.tar.gz

*.exe
*.pdb
src/agora
src/agorad
src/agora-cli
src/agora-tx
src/agora-wallet
src/test/test_agora
src/test/test_agora_fuzzy
src/qt/test/test_agora-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/agora-config.h
src/config/agora-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

src/qt/agora-qt.config
src/qt/agora-qt.creator
src/qt/agora-qt.creator.user
src/qt/agora-qt.files
src/qt/agora-qt.includes

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.a
*.pb.cc
*.pb.h
*.dat

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Only ignore unexpected patches
*.patch
!depends/patches/*.patch

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
agora-qt
Agora-Qt.app
background.tiff*

# Unit-tests
Makefile.test
agora-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_agora.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*

!src/leveldb*/Makefile

/doc/doxygen/

libagoraconsensus.pc
contrib/devtools/split-debug.sh

# Output from running db4 installation
db4/

# clang-check
*.plist
src/script/\.deps/

src/rpc/\.deps/

qa/pull-tester/

src/test/buildenv\.py
